input.ng-invalid.ng-touched{
    border: 1px solid red;

}
select.ng-invalid{
    border: 1px solid red;
}
.help-block{
    color: red;
}

agm-map {
    height: 300px;
    width: 100%; 
    float: right;
    
  }
